<!-- Validation failure messages -->
<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review/<%= @review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review -->
      <div class="form-group">
        <label for="review" class="control-label">
          Review
        </label>

        <textarea id="review" name="review" placeholder="Review" class="form-control" rows="3"><%= @review.review %></textarea>
      </div>

      <!-- Label and input for quarter_taken -->
      <div class="form-group">
        <label for="quarter_taken" class="control-label">
          Quarter taken
        </label>

        <select class="form-control" name="quarter_taken">
          <option>Spring 2016</option>
          <option>Winter 2016</option>
          <option>Fall 2015</option>
          <option>Summer 2015</option>
          <option>Spring 2015</option>
          <option>Winter 2015</option>
          <option>Fall 2014</option>
          <option>Summer 2014</option>
          <option>Spring 2014</option>
          <option>Winter 2014</option>
          <option>Fall 2013</option>
          <option>Summer 2013</option>
          <option>Spring 2013</option>
          <option>Winter 2013</option>
          <option>Fall 2012</option>
          <option>Summer 2012</option>
          <option>Spring 2012</option>
          <option>Winter 2012</option>
          <option>Fall 2011</option>
          <option>Summer 2011</option>
        </select>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">


        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>



      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id,options_from_collection_for_select(Course.all, :id, :title, @review.course_id), :class => "form-control") %>
        <p>
          <a href="/courses/new">Or, add a new course</a>
        </p>


      </div>

      <!-- Label and input for professor_id -->
      <div class="form-group">
        <label for="professor_id" class="control-label">
          Professor
        </label>

        <%= select_tag(:professor_id,options_from_collection_for_select(Professor.all, :id, :first_name, @review.professor_id), :class => "form-control") %>
        <p>
          <a href="/professors/new">Or, add a new professor</a>
        </p>
      </div>



      <button class="btn btn-warning">
        Update Review
      </button>
      or
      <a href="/reviews/<%= @review.id %>">Cancel</a>
    </form>
  </div>
</div>
